<div class="row mb-4">
  <div class="col-md-6">
    <h2><%= topic.title %></h2>
  </div>

  <div class="col-md-6 text-end">
    <h3><%= topic.user.username %></h3>
  </div>
</div>
<div class="row mb-4">
  <div class="col-md-12 fs-5">
    <p><%= topic.content %></p>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-12">
    <div class="bg-body border rounded-3 p-3">

      <%= turbo_stream_from "topic_discussion_socket" %>
      <div id="<%= "topic_#{topic.id}_discussions_container" %>">
        <% topic.discussions.each do |discussion| %>
          <%= render "topic_discussion", discussion: discussion %>
        <% end %>
      </div>

      <hr class="my-4">

      <% if @reply %>
        <div id="reply_discussion" class="px-3">
          <%= render "topic_discussion_form", reply: @reply, topic: topic %>
        </div>
      <% end %>

    </div>
  </div>
</div>
